html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  user-select: none !important;
  /* background: gray; */
  background: #0b0e63;
}

#mobileInterface {
  position: fixed;
  width: calc(100% - 20px);
  height: 50vh;
  pointer-events: none;
  z-index: 11;
  bottom: 30px;
  left: 30px;
  touch-action: manipulation;
}

#joystickWrapper0 {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  height: 180px;
  position: fixed;
  z-index: 11;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

#joystickWrapper1 > div > .front {
  background: linear-gradient(270.9deg, #4b09ff -2.92%, #3700ff 99.95%) !important;
  box-shadow: -14px 25px 30px rgba(255, 12, 12, 0) !important;
}

#joystickWrapper1 > div > .back {
  background: linear-gradient(270.9deg, rgba(9, 34, 255, 0.582) 156.8%, rgba(46, 0, 252, 0.1) 259.67%) !important;
}

#joystickWrapper1 {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  pointer-events: auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  width: 120px;
  height: 120px;
  z-index: 12;
  touch-action: manipulation;
  /* background-color: rgba(red, 0.2); */
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
